@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}


/* Track */
::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(141, 141, 141);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #656565;
}